@model System.Collections.Generic.List<dotNetWiki.Models.Page>
@{
    ViewBag.Title = "Home Page";
}

<h1>.NET Wiki</h1>
<p>.NET Wiki is a great way to host your own wiki.</p>
<hr />
@if(Model.Count() == 0)
{
    <p>There are no pages on the wiki. @Html.ActionLink("Create first article", "Create", "PageController")</p>
}
else
{
    <h2>Recent Articles</h2>
    <ul>
    @foreach(var article in Model)
    {
        <li>@Html.ActionLink(article.Name, "Show", "Page", new { id = article.Id }, null)</li>
    }
    </ul>
}
