
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.stretched {
    padding: 8px 12px;
    width: 100%;
    max-width: initial;
}

div#header {
    min-height: 64px;
    padding: 16px 6px;
    background-color: #F8F8F8;
    text-shadow: 0px 0px 4px #F00;
}

div#sidebar {
    width: 14%;
    padding: 6px;
    vertical-align: top;
    border: 1px solid black;
    background-color: #EAEAEA;
    display: inline-block;
}

div.sidebar-block {
    padding: 2px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid grey;
    text-align: center;
}

div.sidebar-block-header {
    width: 100%;
    padding: 4px;
    background-color: #EAEAEA;
    font-weight: 500;
    text-align: center;
}

div.sidebar-block > a:hover {
    background-color: #D0D0EA;
    transition: all linear 0.1s;
}

div.sidebar-block > a {
    display: block;
    margin: 2px;
    background-color: #F0F0F0;
}

div#main-content {
    width: 85%;
    padding: 10px 15px;
    display: inline-block;
}
div#footer {
    padding: 6px 12px;
    background-color: #EAEAEA;
    text-align: center;
}