@model dotNetWiki.Models.Page
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Page</h2>
<form method="post" action="~/Page/Submit">
    @Html.EditorFor(o => o)
    <input type="submit" style="margin: 8px;" />
</form>